@font-face {font-family:"Alako";src:url("fonts/Alako/Alako.otf") format("otf"),url("fonts/Alako/Alako.woff") format("woff"),url("fonts/Alako/Alako.ttf") format("truetype"),url("fonts/Alako/Alako.svg") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Official Hollow Regular";src:url("fonts/Official_Hollow_Regular/OfficialHollow.eot") format("eot"),url("fonts/Official_Hollow_Regular/OfficialHollow.woff") format("woff"),url("fonts/Official_Hollow_Regular/OfficialHollow.ttf") format("truetype"),url("fonts/Official_Hollow_Regular/OfficialHollow.svg") format("svg");font-weight:normal;font-style:normal;}


body {
	position: relative;
	font-family: 'raleway',Georgia, 'Times New Roman', Times, serif;
	font-size: 1em; /* soit 16px */
	line-height: 1.5;
	font-weight: 400;
	color: #000000;
	background-color: #fff;
}

.nav a{
	color:black;
	font-family: 'raleway', Georgia, 'Times New Roman', Times, serif;  ;
	font-size: 0.875rem;
}

.nav-link:hover{

	background: #a6d4d1;

}


.dropdown-menu{
	background:#f2b3c6 ;
}



/* ********************************** */
* { box-sizing: border-box; }

h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
	font-weight: 400;
	color: black;
	margin: 0 0 0.625em 0;
	
}
h1, .h1-like {
	font-size: 3em;
	font-family: 'Official Hollow Regular', 'Alako', 'raleway', Georgia, 'Times New Roman', Times, serif;
}
h2, .h2-like {
	font-size: 2.25em;
	font-family: 'Alako', 'raleway', Georgia, 'Times New Roman', Times, serif;
}
h3, .h3-like {
	font-size: 1.50em;
	font-family: 'Alako', 'raleway', Georgia, 'Times New Roman', Times, serif;
  
}

p, li {
	font-size: 0.875rem;
	margin: 0 0 0.625em 0;
	font-family: 'raleway', Georgia, 'Times New Roman', Times, serif;
}

.ptl{
  padding-top:40px;
}

.pts{
    padding-top:15px;
}






/* Form styling */
.login-section {
    position: relative;
    min-height: 100vh;
}

.login-section button {
    width: 100%;
    background:#b5b1d4;
   
    border-radius: 5px;
    border: none;
    padding: 1.3em 6em;
    text-transform: uppercase;
    cursor: pointer;
}

.login-section input {
    margin-bottom: 1.5em;
    width: 100%;
    padding: 0.5em;
}
.login-section .checkbox input {
    width: auto;
}

.login-section label:not(.checkbox) {
    font-weight: 500;
}

/* Left and right section styling */
.login-container,
.signup-container {
    padding: 0.5em;
}

h3,
.explanatory-text {
    text-align: center;
    padding-bottom: 40px;
}

.login-section > section {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7em 1em 0 2em;
}

.signup-container.signup-container {
    left: 50%;
    padding: 7em 2em 0 1em;
}

#signup> *:not(.checkbox) {
    display: block;
}

.forgot-link {
    float: right;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.name-container > div {
    width: 49%;
}
.name-container input {
    max-width: 100%;
}

/* Overlay styling */
.switcher-overlay.switcher-overlay {
  
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s;
    height: 100%;
    width: 50%;
    padding: 0 5em 0 1em;
    overflow: hidden;
}

.switcher-overlay svg {
    width: 100%;
    height: 100%;
    fill: #b5b1d4;
    position: absolute;
    left: 0;
    top: 0;
}

.switcher-overlay > div {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.switcher-overlay button {
    width: auto;
    background: white;
}

.login-open .switcher-overlay  {
    transform: translateX(100%);
    padding: 0 1em 0 5em;
}
.login-open .switcher-overlay path {
    d: path('M 0,0 L 100,0 L 100,100 L 20,100 z'); 
}
.login-open .login-text,
.signup-open .signup-text {
    display: none;
}

/* Handle small screens */
@media (max-width: 623px) {
    .login-section.login-section > section {
        width: 100%;
        position: static;
    }
    
    .switcher-overlay.switcher-overlay {
        height: auto !important;
        position: static;
        color: black;
        transform: none;
        padding: 0 1em;
    }
    
    .switcher-overlay > div {
        transform: none;
    }
    
    .switcher-overlay svg {
        display: none;
    }
    
    .signup-open .home-button {
        color: var(--primary);
    }
}

/* Little animation for the diagonal line */
@keyframes bounceRight {
    0%, 100% { transform: translateX(0%); }
    30% { transform: translateX(5px); }
}
@keyframes bounceLeft {
    0%, 100% { transform: translateX(0%); }
    30% { transform: translateX(-5px); }
}