



h1{
    font-family: 'alako';
    font-size: 1.5rem;
    justify-content: center;
}


 h2 {
    font-family:'Alako';
    font-size: 1.25rem;
    
}

h3{
    font-size: 1.15rem;
    font-weight: 400;
}

body{
    font-family: 'raleway';
    font-size: 0.875rem;
    color: #111111; 
 
  
  
}


.lead{
    font-size: 1.25rem;
    font-weight: 400;
}
.lead2{
    font-size: 1rem;
    font-weight: 400;
}


svg{
    color: #25fde9;
}


/* *********************************************images */

.a-img-txt{
  display:grid; 
}

/* les enfants se superposent */
.a-img-txt>*{
  grid-area:1/1/-1/-1; 
  /* raccourci pour grid-row et grid-column */
}

/* le texte */
.a-txt{
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  opacity:0;
  filter:invert(0); /* antibug si effet sur a-img */
  transition:opacity .8s;
}

/* les couleurs c1 et c2 */
.c1{
    background:#ff6600cc; /* avec alpha */
}

.c2{
    background:#6600ffcc; /* avec alpha */
}

/* le survol */
.a-txt:hover{
  opacity:1;
}
.a-img-txt:hover .a-img{
  filter:invert(0);
}
/* la déco */
.essai{
 
  margin:24px;
  font-family:'raleway';
  font-size:21px;

}

img{
  max-width:100%;
  height:auto;
}
a{
  text-decoration:none;
} */

/* *********************form */
* {
  box-sizing: border-box;
}

/* 1- positionning the 2 divs */
form {
	display: flex;
}
form > div {
	flex: 1;
	min-width: 0; /* fix for min-width: auto */
}
form > div + div {
	margin-left: 1em;
}

/* 2- fluid inputs */
.divform > p {
	display: flex;
}
form input:not([type=submit]) {
	flex: 1; /* fluid width */
	display: block; /* IE fix */
	min-width: 0; /* fix for min-width: auto */
}

/* 3- fluid textarea */
.divform + .divform {
	display: flex;
	flex-direction: column;
}
textarea {
	flex: 1; /* fluid height */
	display: block; /* IE fix */
}


/* Decoration */

 form{
	max-width: 1000px;
	margin: auto;
	padding: 1em;
	background:rgba(0,0,0,.1);
	color: red;
	font-size: 1.4em;
	font-family: georgia, "trebuchet ms", arial, serif;
}


form > div {
	padding: 1em;
	background: #fff;
	border: 1px solid gray;
	border-radius: 4px;
}
input,
textarea {
	padding: .3em;
	border: 1px solid #555;
	border-radius: 4px;
	font-family: inherit;
	font-size: inherit;
  background: rgba(0,0,0,.02);
}
input:focus,
textarea:focus {
	outline: none;
}
input[type="submit"] {
	padding: .3em 1em;
	background: #555;
	border: none;
	color: #fff;   
	border-radius: 4px;
	cursor: pointer;
}
label {
	width: 5em;
	margin-right: .5em;
  text-align: left;
  display: inline;
}
input[type="submit"] {
	margin-left: auto;
}
div:first-child p:first-child {
	justify-content: flex-end;
}
textarea {
	resize: vertical;
	color: #aaa;
}
.divform > p:first-child {margin-top: 0;}
.divform > p:last-child {margin-bottom: 0;}
small {
	font-size: 0.8rem;
	color: #aaa;
}

/* small screens */
@media (max-width: 600px) {
	form {
		flex-direction: column;
	}
	form p {
		display: block;
	}
	label {
		display: block;
		width: auto;
		text-align: left;
	}
	form > div {
		width: auto;
	}
	form > div + div {
		margin-left: 0;
		margin-bottom: 1em;
		order: -1;
	}
	input {
		width : 100%
	}
}
