/*
Project : Starter CSS
Author	: Cristini Prénom
Version	: v.1.0.0
Date 	: 04/11/2020
*/

/*-----------------------------------------------------------*/
/* GLOBAL */
/*-----------------------------------------------------------*/
@font-face {font-family:"Alako";src:url("fonts/Alako/Alako.otf") format("otf"),url("fonts/Alako/Alako.woff") format("woff"),url("fonts/Alako/Alako.ttf") format("truetype"),url("fonts/Alako/Alako.svg") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Official Hollow Regular";src:url("fonts/Official_Hollow_Regular/OfficialHollow.eot") format("eot"),url("fonts/Official_Hollow_Regular/OfficialHollow.woff") format("woff"),url("fonts/Official_Hollow_Regular/OfficialHollow.ttf") format("truetype"),url("fonts/Official_Hollow_Regular/OfficialHollow.svg") format("svg");font-weight:normal;font-style:normal;}

html {
	box-sizing:border-box;
	font-size: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	position: relative;
	font-family: 'raleway',Georgia, 'Times New Roman', Times, serif;
	font-size: 1em; /* soit 16px */
	line-height: 1.5;
	font-weight: 400;
	color: #000000;
	background-color: #fff;
}




/* Typographie */
/*--------------------------*/
h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
	font-weight: 400;
	color: black;
	margin: 0 0 0.625em 0;
	
}
h1, .h1-like {
	font-size: 3em;
	font-family: 'Official Hollow Regular', 'Alako', 'raleway', Georgia, 'Times New Roman', Times, serif;
}
h2, .h2-like {
	font-size: 2.25em;
	font-family: 'Alako', 'raleway', Georgia, 'Times New Roman', Times, serif;
}
h3, .h3-like {
	font-size: 1.50em;
	font-family: 'Alako', 'raleway', Georgia, 'Times New Roman', Times, serif;
}

p, li {
	font-size: 0.875rem;
	margin: 0 0 0.625em 0;
	font-family: 'raleway', Georgia, 'Times New Roman', Times, serif;
}



/*-----------------------------------------------------------*/
/* CONTENT */ /* Code desktop */
/*-----------------------------------------------------------*/


/* header */
/*--------------------------*/
header{
	width: 100%;

	

}
/* nav */
/*--------------------------*/

.nav a{
	color:black;
	font-family: 'raleway', Georgia, 'Times New Roman', Times, serif;  ;
	font-size: 0.875rem;
}

.nav-link:hover{

	background: #a6d4d1;

}


.dropdown-menu{
	background:#f2b3c6 ;
}






/* main */
/*--------------------------*/
/*.banner-box {
	background-color: rgba(0, 0, 0, 0.8);
}*/

.banner{
	background-image: url('Images/AdobeStock_188685707.jpeg');
}

.banner-app{
	background-image: url('../img/img-02.jpg');
}

.banner, .banner-app{
	
	-webkit-background-size: cover; 
	background-size: cover;
	background-position: 69% 50%;
	background-attachment: fixed;
}


/* ************************************************section1 *************************************************/


.collage1{
	flex-direction: column;
	align-self: center;
	background: white;

	
}

.collage2 h2{
	font-size: 1.25em;
	font-family: 'Alako','raleway' Georgia, 'Times New Roman', Times, serif;
}

.collage1 p{
	font-style: italic;
}

.a-img-txt{
	display:grid; 
  }
  
  /* les enfants se superposent */
  .a-img-txt>*{
	grid-area:1/1/-1/-1; 
	/* raccourci pour grid-row et grid-column */
  }
  
  /* le texte */
  .a-txt{
	display:flex;
	justify-content:center;
	align-items:center;
	color:black;
	font-weight: 800;
	opacity:0;
	filter:invert(0); /* antibug si effet sur a-img */
	transition:opacity .8s;
  }
  
  /* les couleurs c1 et c2 */
  .c1{
	  background:#f2b3c6; /* avec alpha */
  }
  
  .c2{
	  background:#b5b1d4; /* avec alpha */
  }
  
  /* le survol */
  .a-txt:hover{
	opacity:1;
  }
  .a-img-txt:hover .a-img{
	filter:invert(0);
  }
  /* la déco */
  .essai{
   
	margin:24px;
	font-family:'raleway';
	font-size:21px;
  
  }
  
  img{
	max-width:100%;
	height:auto;
  }
  a{
	text-decoration:none;
  }

/* ************************************************section2 *************************************************/



.presentation div{
	background:#f8f9fa;
}
.bouton{
	text-align: center;
	
}

.btn{
	height: 50px;
	width: 150px;
}

.box{
	flex-direction: column;
	align-items: center;
}

/* button mon parcours */
/*--------------------------*/
.content {
	padding: 2em 1em 5em;
	z-index: 1;
	max-width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0 0 2em;
}

.box {
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
}


/* Common button styles */
.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

.bg-1 .button {
	color: black;
	border-color: #b5b1d4 ;
}

/* Borders */

.button--border-thick {
	border: 3px solid;
}

.button--tamaya {
	overflow: hidden;
	color: #ff1a7f;
	min-width:150px;
}

.button--tamaya::before,
.button--tamaya::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	background: #7986cb;
	color: #fff;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--tamaya.button--inverted::before,
.button--tamaya.button--inverted::after {
	background: #fff;
	color: #37474f;
}
.button--tamaya::before {
	top: 0;
	padding-top: 1em;
}
.button--tamaya::after {
	bottom: 0;
	line-height: 0;
}
.button--tamaya > span {
	display: block;
	-webkit-transform: scale3d(0.2, 0.2, 1);
	transform: scale3d(0.2, 0.2, 1);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--tamaya:hover::before {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.button--tamaya:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--tamaya:hover > span {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

/* ************************************************section3 *************************************************/

#ge, #gh, #com{

	background: #f8f9fa;
	
}


 /* ************************************************form ****************************************************/
 * {
	box-sizing: border-box;
  }
  
  /* 1- positionning the 2 divs */
  form {
	  display: flex;
  }
  form > div {
	  flex: 1;
	  min-width: 0; /* fix for min-width: auto */
  }
  form > div + div {
	  margin-left: 1em;
  }
  
  /* 2- fluid inputs */
  .divform > p {
	  display: flex;
  }
  form input:not([type=submit]) {
	  flex: 1; /* fluid width */
	  display: block; /* IE fix */
	  min-width: 0; /* fix for min-width: auto */
  }
  
  /* 3- fluid textarea */
  .divform + .divform {
	  display: flex;
	  flex-direction: column;
  }
  textarea {
	  flex: 1; /* fluid height */
	  display: block; /* IE fix */
  }
  
  
  /* Decoration */
  
   form{
	  max-width: 1000px;
	  margin: auto;
	  padding: 1em;
	  background:url('Images/AdobeStock_188685707.jpeg');
	  color:black;
	  font-size: 1.4em;
	  font-family: 'Alako', 'raleway', Georgia, 'Times New Roman', Times, serif;
  }

  .form-control{
	border: 1px solid black;
  }
  
  
  form > div {
	  padding: 1em;
	  background: #fff;
	  border: 1px solid black;
	 
  }
  input,
  textarea {
	  padding: .3em;
	  border: 1px solid black;
	  font-family: inherit;
	  font-size: inherit;
	background: rgba(0,0,0,.02);
  }
  input:focus,
  textarea:focus {
	  outline: none;
  }
  input[type="submit"] {
	  padding: .3em 1em;
	  height: 50px;
	  width: 150px;
	  background:#b5b1d4;
	  border: none;
	  color: #fff;
	  justify-content: center;
	  margin-left: 0;   
	  cursor: pointer;
  }

  .submitbutton{
	  justify-content: center;
  }
 
  label {
	  width: 5em;
	  margin-right: .5em;
	text-align: left;
	display: inline;
	color: black;
	font-family:'Alako', 'raleway', Georgia, 'Times New Roman', Times, serif;
  }
  
  div:first-child p:first-child {
	  justify-content: flex-end;
  }
  textarea {
	  resize: vertical;
	  color: #aaa;
  }
  .divform > p:first-child {margin-top: 0;}
  .divform > p:last-child {margin-bottom: 0;}
  small {
	  font-size: 0.8rem;
	  color: #aaa;
  }

/* ************************************************footer *************************************************/
/*--------------------------*/
#footer {
	background-color: #161b1f;
}
#footer.wrap{
	border-top: 1px solid #adadad;
	padding: 20px 0;
}
#footer small {
	text-align: center;
}
#totop {
	display: block;
	text-align: center;
	background-color: #d35f60;
	color: #fff;
	padding: 1em 2em;
	margin: 20px 0;
	border-radius: 5px;
}

/*-----------------------------------------------------------*/
/* RWD */
/*-----------------------------------------------------------*/

/*mobile view/*


/* tablet view */
/*--------------------------*/

	/* btn menu */
	/*--------------------------*/
	.btn-menu {
		display: none;
	}
	/* footer */
	/*--------------------------*/
	#footer small {
		text-align: left;
	}
	#totop {
		display: inline;
		text-align: inherit;
		background-color: transparent;
		color: #d35f60;
		padding: 0;
		margin: 0;
		border-radius: 0;
	}

/*-- end of tablet view----*/

/* desktop view */
/*--------------------------*/


	/* Links */
	/*--------------------------*/


	/* buttons */
	/*--------------------------*/

	/* nav */
	/*--------------------------*/

	/* main */
	/*--------------------------*/

	

	
	/* footer */
	/*--------------------------*/
	#totop:hover {
		color: #934243;
	}





/* helpers */
/*--------------------------*/

.v-top {
	vertical-align: top;
}
.v-middle {
	vertical-align: middle;
}
.v-bottom {
	vertical-align: bottom;
}

/*
m = margin
a, t, b = all, top, bottom
n, s, m, l = none, small, medium, large
*/

.man {
	margin: 0!important;
}
.mas {
	margin: 20px!important;	
}
.mam {
	margin: 40px!important;	
}
.mal {
	margin: 60px!important;	
}


.mtn {
	margin-top: 0!important;
}
.mts {
	margin-top: 20px!important;	
}
.mtm {
	margin-top: 40px!important;	
}
.mtl {
	margin-top: 60px!important;	
}

.mbn {
	margin-bottom: 0!important;
}
.mbs {
	margin-bottom: 20px!important;	
}
.mbm {
	margin-bottom: 40px!important;	
}
.mbl {
	margin-bottom: 60px!important;	
}

.mrs{
	margin-right: 20px !important;
}

.pan {
	padding: 0px!important;
}
.pas {
	padding: 20px!important;
}
.pam {
	padding: 40px!important;
}
.pal {
	padding: 60px!important;
}


.ptn {
	padding-top: 0!important;
}
.pts {
	padding-top: 20px!important;	
}
.ptm {
	padding-top: 40px!important;	
}
.ptl {
	padding-top: 60px!important;	
}

.pbn {
	padding-bottom: 0!important;
}
.pbs {
	padding-bottom: 20px!important;	
}
.pbm {
	padding-bottom: 40px!important;	
}
.pbl {
	padding-bottom: 60px!important;	
}

.prs{
	padding-right: 20px !important;
}

.prm{
	padding-right: 40px !important;
}

.plm{
	padding-left: 40px !important;
}

.txt-right {
	text-align: right;
}
.txt-center {
	text-align: center;
}
.txt-left {
	text-align: left;
}








.overlay {
	background-color: rgba(0,0,0,0.7);
}
  
 
  
 